.cabecalho-1{
    font-size: 20px;
    background-color:  #BB86FC;
}

.cabecalho-2{
    font-size: 20px;
    background-color: #00C4B4 ;
}
.moda{
    color: white;
    background-color:  #424250;
    font-size: 20px;
}
.casa{
    color:white;
    background-color:#424250 ;
    font-size: 20px;

}